day0917/resources/stu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.xtaccp.com/stu" 
xmlns:tns="http://www.xtaccp.com/stu" >
	<element name="root" type="tns:mytype"/>
	<element name="sub" type="string"/>
	<complexType name="mytype">
		<sequence>
			<element ref="tns:sub"  />
		</sequence>
	</complexType>
</schema>